.log-in2 {
    position: relative;
    font-size: var(--body-size);
    text-transform: uppercase;
    display: inline-block;
    font-family: var(--h3);
    color: var(--color-white);
    text-align: center;
    min-width: 6.8rem;
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: var(--padding-mini) var(--padding-xl);
    background-color: transparent;
    align-self: stretch;
    box-shadow: 0 4px 22px 2px rgba(0, 0, 0, 0.15);
    border-radius: var(--br-xl);
    background: linear-gradient(90deg, #730e8d 16%, #af14c6 87%);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
        background: #441550;
    }
}