.checkbox-wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    border: 0.15em solid #730E8D;
    outline: none;
    cursor: pointer;

    &:checked {
        background-color: #730e8d;
        position: relative;

        &::before {
            content: "2714";
            font-size: 1.5em;
            color: #fff;
            position: absolute;
            right: 1px;
            top: -5px;
        }
    }

    &:disabled {
        border-color: #c0c0c0;
        background-color: #c0c0c0;

        + span {
            color: #c0c0c0;
        }
    }

    &:focus {
        box-shadow: 0 0 20px #007a7e;
    }
}